
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  font-size: var(--font-size-md);
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-900);
  line-height: 1.6;
}


a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


header, footer {
  text-align: center;
  padding: var(--space-2);
}


img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}